html,
body {
    width: 100%;
    height: 100%;
    font-size: 12px;
}

.page {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 49px;
    background-color: #ccc;
}

.page.pages {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: white;
    z-index: 10;

}
